<?xml version="1.0"?>
<config>
    <modules>
        <Shopgate_Cloudapi>
            <version>3.0.1</version>
        </Shopgate_Cloudapi>
    </modules>
    <global>
        <helpers>
            <shopgate_cloudapi>
                <class>Shopgate_Cloudapi_Helper</class>
            </shopgate_cloudapi>
        </helpers>
        <models>
            <shopgate_cloudapi>
                <class>Shopgate_Cloudapi_Model</class>
                <resourceModel>shopgate_cloudapi_resource</resourceModel>
            </shopgate_cloudapi>
            <shopgate_cloudapi_resource>
                <class>Shopgate_Cloudapi_Model_Resource</class>
                <deprecatedNode>shopgate_mysql4</deprecatedNode>
                <entities>
                    <auth_code>
                        <table>shopgate_resource_auth_codes</table>
                    </auth_code>
                </entities>
            </shopgate_cloudapi_resource>
        </models>
        <resources>
            <shopgate_cloudapi_setup>
                <setup>
                    <module>Shopgate_Cloudapi</module>
                    <class>Shopgate_Cloudapi_Model_Resource_Setup</class>
                </setup>
            </shopgate_cloudapi_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <shopgate_sales_order_save_after>
                        <type>model</type>
                        <class>shopgate_cloudapi/frontend_observer_salesOrderAfter</class>
                        <method>execute</method>
                    </shopgate_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
        <blocks>
            <shopgate_cloudapi>
                <class>Shopgate_Cloudapi_Block</class>
            </shopgate_cloudapi>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Shopgate_Cloudapi>
                    <files>
                        <default>Shopgate_Cloudapi.csv</default>
                    </files>
                </Shopgate_Cloudapi>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <shopgate_cloudapi_checkout>
                    <file>shopgate/cloudapi/checkout.xml</file>
                </shopgate_cloudapi_checkout>
            </updates>
        </layout>
        <routers>
            <!-- The REST router is extended from Framework plugin -->
            <shopgate_cloudapi_checkout_redirect>
                <use>standard</use>
                <args>
                    <module>Shopgate_Cloudapi</module>
                    <frontName>shopgate-checkout</frontName>
                </args>
            </shopgate_cloudapi_checkout_redirect>
        </routers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <shopgate_checkout_onepage_controller_success_action>
                        <type>model</type>
                        <class>shopgate_cloudapi/frontend_observer_onepageSuccessAction</class>
                        <method>execute</method>
                    </shopgate_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <translate>
            <modules>
                <Shopgate_Cloudapi>
                    <files>
                        <default>Shopgate_Cloudapi.csv</default>
                    </files>
                </Shopgate_Cloudapi>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <shopgate_cloudapi_delete_expired_tokens>
                <schedule>
                    <cron_expr>0 1 * * 0</cron_expr><!-- Every Sunday at 1 am-->
                </schedule>
                <run>
                    <model>shopgate_cloudapi/observer::deleteExpiredTokens</model>
                </run>
            </shopgate_cloudapi_delete_expired_tokens>
        </jobs>
    </crontab>
</config>
