<?xml version="1.0"?>
<config>
    <modules>
        <Shopgate_Cloudapi>
            <version>3.3.0</version>
        </Shopgate_Cloudapi>
    </modules>
    <global>
        <helpers>
            <shopgate_cloudapi>
                <class>Shopgate_Cloudapi_Helper</class>
            </shopgate_cloudapi>
        </helpers>
        <models>
            <shopgate_cloudapi>
                <class>Shopgate_Cloudapi_Model</class>
                <resourceModel>shopgate_cloudapi_resource</resourceModel>
            </shopgate_cloudapi>
            <shopgate_cloudapi_resource>
                <class>Shopgate_Cloudapi_Model_Resource</class>
                <deprecatedNode>shopgate_mysql4</deprecatedNode>
                <entities>
                    <auth_code>
                        <table>shopgate_resource_auth_codes</table>
                    </auth_code>
                    <order_source>
                        <table>shopgate_order_sources</table>
                    </order_source>
                    <cart_source>
                        <table>shopgate_cart_sources</table>
                    </cart_source>
                </entities>
            </shopgate_cloudapi_resource>
        </models>
        <resources>
            <shopgate_cloudapi_setup>
                <setup>
                    <module>Shopgate_Cloudapi</module>
                    <class>Shopgate_Cloudapi_Model_Resource_Setup</class>
                </setup>
            </shopgate_cloudapi_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <shopgate_sales_order_save_after>
                        <type>model</type>
                        <class>shopgate_cloudapi/frontend_observer_salesOrderAfter</class>
                        <method>execute</method>
                    </shopgate_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <shopgate_checkout_onepage_controller_success_action>
                        <type>model</type>
                        <class>shopgate_cloudapi/frontend_observer_onepageSuccessAction</class>
                        <method>execute</method>
                    </shopgate_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <customer_register_success>
                <observers>
                    <shopgate_customer_register_success>
                        <type>model</type>
                        <class>shopgate_cloudapi/frontend_observer_customerRegisterSuccess</class>
                        <method>execute</method>
                    </shopgate_customer_register_success>
                </observers>
            </customer_register_success>
            <enterprise_customer_address_attribute_save>
                <observers>
                    <shopgate_enterprise_customer_address_attribute_save>
                        <type>model</type>
                        <class>shopgate_cloudapi/observers_AclAttributeManipulation</class>
                        <method>execute</method>
                    </shopgate_enterprise_customer_address_attribute_save>
                </observers>
            </enterprise_customer_address_attribute_save>
            <enterprise_customer_address_attribute_delete>
                <observers>
                    <shopgate_enterprise_customer_address_attribute_delete>
                        <type>model</type>
                        <class>shopgate_cloudapi/observers_AclAttributeManipulation</class>
                        <method>execute</method>
                    </shopgate_enterprise_customer_address_attribute_delete>
                </observers>
            </enterprise_customer_address_attribute_delete>
            <salesrule_rule_condition_combine>
                <observers>
                    <add_conditions_to_sales_rule>
                        <type>model</type>
                        <class>shopgate_cloudapi/observers_AddShopgateCartRule</class>
                        <method>execute</method>
                    </add_conditions_to_sales_rule>
                </observers>
            </salesrule_rule_condition_combine>
            <sales_quote_collect_totals_before>
                <observers>
                    <add_salerule_type_to_quote>
                        <type>model</type>
                        <class>shopgate_cloudapi/observers_addSaleRuleTypeToQuote</class>
                        <method>execute</method>
                    </add_salerule_type_to_quote>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
        <blocks>
            <shopgate_cloudapi>
                <class>Shopgate_Cloudapi_Block</class>
            </shopgate_cloudapi>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Shopgate_Cloudapi>
                    <files>
                        <default>Shopgate_Cloudapi.csv</default>
                    </files>
                </Shopgate_Cloudapi>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <shopgate_cloudapi_default>
                    <file>shopgate/cloudapi/default.xml</file>
                </shopgate_cloudapi_default>
                <shopgate_cloudapi_customer>
                    <file>shopgate/cloudapi/customer.xml</file>
                </shopgate_cloudapi_customer>
            </updates>
        </layout>
        <routers>
            <!-- The REST router is extended from Framework plugin -->
            <shopgate_cloudapi_checkout_redirect>
                <use>standard</use>
                <args>
                    <module>Shopgate_Cloudapi</module>
                    <frontName>shopgate-checkout</frontName>
                </args>
            </shopgate_cloudapi_checkout_redirect>
            <shopgate_cloudapi_customer>
                <use>standard</use>
                <args>
                    <module>Shopgate_Cloudapi</module>
                    <frontName>shopgate-customer</frontName>
                </args>
            </shopgate_cloudapi_customer>
            <shopgate>
                <use>standard</use>
                <args>
                    <module>Shopgate_Cloudapi</module>
                    <frontName>shopgate</frontName>
                </args>
            </shopgate>
        </routers>
        <events>
            <shopgate_cloud_api2_wishlists_retrieve>
                <observers>
                    <shopgate_cloud_rest_wishlist_retrieve>
                        <class>shopgate_cloudapi/api2_observers_wishlistsRetrieve</class>
                        <method>execute</method>
                    </shopgate_cloud_rest_wishlist_retrieve>
                </observers>
            </shopgate_cloud_api2_wishlists_retrieve>
            <shopgate_cloud_api2_wishlists_create>
                <observers>
                    <shopgate_cloud_rest_wishlist_create>
                        <class>shopgate_cloudapi/api2_observers_wishlistsCreate</class>
                        <method>execute</method>
                    </shopgate_cloud_rest_wishlist_create>
                </observers>
            </shopgate_cloud_api2_wishlists_create>
            <shopgate_cloud_api2_wishlists_items_create>
                <observers>
                    <shopgate_cloud_api2_wishlist_items_create>
                        <class>shopgate_cloudapi/api2_observers_wishlistsItemsCreate</class>
                        <method>execute</method>
                    </shopgate_cloud_api2_wishlist_items_create>
                </observers>
            </shopgate_cloud_api2_wishlists_items_create>
            <shopgate_cloud_api2_wishlists_items_retrieve>
                <observers>
                    <shopgate_cloud_api2_wishlist_items_retrieve>
                        <class>shopgate_cloudapi/api2_observers_wishlistsItemsRetrieve</class>
                        <method>execute</method>
                    </shopgate_cloud_api2_wishlist_items_retrieve>
                </observers>
            </shopgate_cloud_api2_wishlists_items_retrieve>
            <catalog_product_collection_apply_limitations_before><!-- EE 1.13 compatibility -->
                <observers>
                    <shopgate_cloud_api2_wishlist_store_id_hack>
                        <class>shopgate_cloudapi/api2_observers_wishlistStoreHandle</class>
                        <method>execute</method>
                    </shopgate_cloud_api2_wishlist_store_id_hack>
                </observers>
            </catalog_product_collection_apply_limitations_before>
            <controller_action_layout_load_before>
                <observers>
                    <shopgate_controller_action_layout_load_before>
                        <class>shopgate_cloudapi/frontend_observer_layout</class>
                        <method>execute</method>
                    </shopgate_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <checkout_onepage_controller_success_action>
                <observers>
                    <shopgate_checkout_onepage_controller_success_action>
                        <type>model</type>
                        <class>shopgate_cloudapi/frontend_observer_onepageSuccessAction</class>
                        <method>execute</method>
                    </shopgate_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <translate>
            <modules>
                <Shopgate_Cloudapi>
                    <files>
                        <default>Shopgate_Cloudapi.csv</default>
                    </files>
                </Shopgate_Cloudapi>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <shopgate_cloudapi_delete_expired_tokens>
                <schedule>
                    <cron_expr>0 1 * * 0</cron_expr><!-- Every Sunday at 1 am-->
                </schedule>
                <run>
                    <model>shopgate_cloudapi/observer::deleteExpiredTokens</model>
                </run>
            </shopgate_cloudapi_delete_expired_tokens>
        </jobs>
    </crontab>
    <default>
        <shopgate_cloudapi>
            <layout>
                <styles>
                    <![CDATA[
                        .page-title,
                        .customer-account-create .rewards,
                        .customer-account-create .back-link,
                        .customer-account-forgotpassword .back-link,
                        .customer-account-login #login-form,
                        #checkout-review-submit .f-left {display: none;}
                        .checkout-onepage-success a {pointer-events: none; cursor: default;}
                    ]]>
                </styles>
            </layout>
        </shopgate_cloudapi>
    </default>
</config>
